@media (max-width: 768px) {
    .login-detail {
        font-size: 12px;
        display: block;
        margin: 0px 12px;
    }
    navbar ul {
        display: block;
    }
    navbar ul::-webkit-scrollbar {
        display: none;
    }
    .section_right {
        width: 100%;
    }
    .nav-link {
        position: fixed;
        top: 70px;
        right: 100px;
    }
    navbar {
        position: sticky;
        top: 78px;
        display: none;
    }
    navbar.show {
        display: block;
        position: fixed;
        top: 70px;
        right: 0;
        background: var(--navBg);
    }
    .card.card-grid {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
    .section-right {
        width: 100%;
    }

}
@media (min-width: 769px) {
    .header-toggle {
        display: none;
    }
    .section-right {
        flex: 0 0 20%;
    }
}